/*
-----------------------------------
Fixings
-----------------------------------
*/
@font-face {
    font-family: 'type_bold';
    src: url('fonts/bitter-bold-webfont.eot');
    src: url('fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bitter-bold-webfont.woff') format('woff'),
         url('fonts/bitter-bold-webfont.ttf') format('truetype'),
         url('fonts/bitter-bold-webfont.svg#bitterbold') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'type_italic';
    src: url('fonts/bitter-italic-webfont.eot');
    src: url('fonts/bitter-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bitter-italic-webfont.woff') format('woff'),
         url('fonts/bitter-italic-webfont.ttf') format('truetype'),
         url('fonts/bitter-italic-webfont.svg#bitteritalic') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'type_regular';
    src: url('fonts/bitter-regular-webfont.eot');
    src: url('fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bitter-regular-webfont.woff') format('woff'),
         url('fonts/bitter-regular-webfont.ttf') format('truetype'),
         url('fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'font_black';
    src: url('fonts/din-black-webfont.eot');
    src: url('fonts/din-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-black-webfont.woff') format('woff'),
         url('fonts/din-black-webfont.ttf') format('truetype'),
         url('fonts/din-black-webfont.svg#din_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'font_light';
    src: url('fonts/din-light-webfont.eot');
    src: url('fonts/din-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-light-webfont.woff') format('woff'),
         url('fonts/din-light-webfont.ttf') format('truetype'),
         url('fonts/din-light-webfont.svg#din_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'font_medium';
    src: url('fonts/din-medium-webfont.eot');
    src: url('fonts/din-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-medium-webfont.woff') format('woff'),
         url('fonts/din-medium-webfont.ttf') format('truetype'),
         url('fonts/din-medium-webfont.svg#dinmedium') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'font_regular';
    src: url('fonts/din-regular-webfont.eot');
    src: url('fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-regular-webfont.woff') format('woff'),
         url('fonts/din-regular-webfont.ttf') format('truetype'),
         url('fonts/din-regular-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;}
/*
-----------------------------------
Variables
-----------------------------------
*/
.icon{font-family:'foundation-icons';}

.fontlight{font-family: 'font_light';}
.fontregular{font-family: 'font_regular';}
.fontmedium{font-family: 'font_medium';}
.fontblack{font-family: 'font_black';}
.typeregular{font-family: 'type_regular';}
.typebold{font-family: 'type_bold';}
.typeitalic{font-family: 'type_italic';}

$blue: #1b5eaf !default;
$darkblue: #00306b;
$lightblue: #4b91e7;
$lighterblue: #aad0ff;

$grey: #444444 !default;
$lightgrey: #d1d1d1;
$lightergrey: #e7e9ea;

$green: #aabf40 !default;
$darkgreen: #5c6e05;
$lightgreen: #bace52;

$yellow: #eed31c !default;
$darkyellow: #baa307;
$lightyellow: #fded7d;

$red: #bf4040 !default;
$darkred: #991f1f;
$lightred: #f06969;

ul{list-style-type:none;}
a{text-decoration:none;color:$grey;cursor:pointer;}
h1, h2, h3, h4, h5, h6, p{margin:0;padding:0;}
ul, li{margin:0;padding:0;}
div, p,ul, li{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.right, .left{float:none;}
body{font-family:"font_regular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-weight:normal;line-height:1.125em;font-size:1em;color:$blue;background:#fff;}
.visible{display:block;}
.invisible{display:none;}
/*
------
Arrow sprites
------
*/
/*blue*/
.arrow-dark-blue{overflow:hidden;float:left;
	.top-arrow{margin:0 0 0 0;}
	}
.arrow-dark-blue{overflow:hidden;float:left;
	.bottom-arrow{margin:-20px 0 0 0;}
	}
.arrow-dark-blue{overflow:hidden;float:left;
	.right-arrow{margin:0 0 0 -40px;}
	}
.arrow-dark-blue{overflow:hidden;float:left;
	.left-arrow{margin:0 0 0 -60px;}
	}
.arrow-blue{overflow:hidden;float:left;
	.top-arrow{margin:-40px 0 0 0;}
	}
.arrow-blue{overflow:hidden;float:left;
	.bottom-arrow{margin:-60px 0 0 0;}
	}
.arrow-blue{overflow:hidden;float:left;
	.right-arrow{margin:-40px 0 0 -40px;}
	}
.arrow-blue{overflow:hidden;float:left;
	.left-arrow{margin:-40px 0 0 -60px;}
	}
.arrow-light-blue{overflow:hidden;float:left;
	.top-arrow{margin:-81px 0 0 0;}
	}
.arrow-light-blue{overflow:hidden;float:left;
	.bottom-arrow{margin:-101px 0 0 0;}
	}
.arrow-light-blue{overflow:hidden;float:left;
	.right-arrow{margin:-81px 0 0 -40px;}
	}
.arrow-light-blue{overflow:hidden;float:left;
	.left-arrow{margin:-81px 0 0 -60px;}
	}
.arrow-lightest-blue{overflow:hidden;float:left;
	.top-arrow{margin:-122px 0 0 0;}
	}
.arrow-lightest-blue{overflow:hidden;float:left;
	.bottom-arrow{margin:-142px 0 0 0;}
	}
.arrow-lightest-blue{overflow:hidden;float:left;
	.right-arrow{margin:-122px 0 0 -40px;}
	}
.arrow-lightest-blue{overflow:hidden;float:left;
	.left-arrow{margin:-122px 0 0 -60px;}
	}
/*Black*/
.arrow-black{overflow:hidden;float:left;
	.top-arrow{margin:-163px 0 0 0;}
	}
.arrow-black{overflow:hidden;float:left;
	.bottom-arrow{margin:-183px 0 0 0;}
	}
.arrow-black{overflow:hidden;float:left;
	.right-arrow{margin:-163px 0 0 -40px;}
	}
.arrow-black{overflow:hidden;float:left;
	.left-arrow{margin:-163px 0 0 -60px;}
	}
/*grey*/
.arrow-grey{overflow:hidden;float:left;
	.top-arrow{margin:-204px 0 0 0;}
	}
.arrow-grey{overflow:hidden;float:left;
	.bottom-arrow{margin:-224px 0 0 0;}
	}
.arrow-grey{overflow:hidden;float:left;
	.right-arrow{margin:-204px 0 0 -40px;}
	}
.arrow-grey{overflow:hidden;float:left;
	.left-arrow{margin:-204px 0 0 -60px;}
	}
.arrow-light-grey{overflow:hidden;float:left;
	.top-arrow{margin:-245px 0 0 0;}
	}
.arrow-light-grey{overflow:hidden;float:left;
	.bottom-arrow{margin:-265px 0 0 0;}
	}
.arrow-light-grey{overflow:hidden;float:left;
	.right-arrow{margin:-245px 0 0 -40px;}
	}
.arrow-light-grey{overflow:hidden;float:left;
	.left-arrow{margin:-245px 0 0 -60px;}
	}
.arrow-lightest-grey{overflow:hidden;float:left;
	.top-arrow{margin:-286px 0 0 0;}
	}
.arrow-lightest-grey{overflow:hidden;float:left;
	.bottom-arrow{margin:-306px 0 0 0;}
	}
.arrow-lightest-grey{overflow:hidden;float:left;
	.right-arrow{margin:-286px 0 0 -40px;}
	}
.arrow-lightest-grey{overflow:hidden;float:left;
	.left-arrow{margin:-286px 0 0 -60px;}
	}
/*Green*/
.arrow-dark-green{overflow:hidden;float:left;
	.top-arrow{margin:-327px 0 0 0;}
	}
.arrow-dark-green{overflow:hidden;float:left;
	.bottom-arrow{margin:-347px 0 0 0;}
	}
.arrow-dark-green{overflow:hidden;float:left;
	.right-arrow{margin:-327px 0 0 -40px;}
	}
.arrow-dark-green{overflow:hidden;float:left;
	.left-arrow{margin:-327px 0 0 -60px;}
	}
.arrow-green{overflow:hidden;float:left;
	.top-arrow{margin:-368px 0 0 0;}
	}
.arrow-green{overflow:hidden;float:left;
	.bottom-arrow{margin:-388px 0 0 0;}
	}
.arrow-green{overflow:hidden;float:left;
	.right-arrow{margin:-368px 0 0 -40px;}
	}
.arrow-green{overflow:hidden;float:left;
	.left-arrow{margin:-368px 0 0 -60px;}
	}
.arrow-light-green{overflow:hidden;float:left;
	.top-arrow{margin:-409px 0 0 0;}
	}
.arrow-light-green{overflow:hidden;float:left;
	.bottom-arrow{margin:-429px 0 0 0;}
	}
.arrow-light-green{overflow:hidden;float:left;
	.right-arrow{margin:-409px 0 0 -40px;}
	}
.arrow-light-green{overflow:hidden;float:left;
	.left-arrow{margin:-409px 0 0 -60px;}
	}
/*Yellow*/
.arrow-dark-yellow{overflow:hidden;float:left;
	.top-arrow{margin:-450px 0 0 0;}
	}
.arrow-dark-yellow{overflow:hidden;float:left;
	.bottom-arrow{margin:-470px 0 0 0;}
	}
.arrow-dark-yellow{overflow:hidden;float:left;
	.right-arrow{margin:-450px 0 0 -40px;}
	}
.arrow-dark-yellow{overflow:hidden;float:left;
	.left-arrow{margin:-450px 0 0 -60px;}
	}
.arrow-yellow{overflow:hidden;float:left;
	.top-arrow{margin:-491px 0 0 0;}
	}
.arrow-yellow{overflow:hidden;float:left;
	.bottom-arrow{margin:-511px 0 0 0;}
	}
.arrow-yellow{overflow:hidden;float:left;
	.right-arrow{margin:-491px 0 0 -40px;}
	}
.arrow-yellow{overflow:hidden;float:left;
	.left-arrow{margin:-491px 0 0 -60px;}
	}
.arrow-light-yellow{overflow:hidden;float:left;
	.top-arrow{margin:-532px 0 0 0;}
	}
.arrow-light-yellow{overflow:hidden;float:left;
	.bottom-arrow{margin:-552px 0 0 0;}
	}
.arrow-light-yellow{overflow:hidden;float:left;
	.right-arrow{margin:-532px 0 0 -40px;}
	}
.arrow-light-yellow{overflow:hidden;float:left;
	.left-arrow{margin:-532px 0 0 -60px;}
	}
/*Red*/
.arrow-dark-red{overflow:hidden;float:left;
	.top-arrow{margin:-573px 0 0 0;}
	}
.arrow-dark-red{overflow:hidden;float:left;
	.bottom-arrow{margin:-593px 0 0 0;}
	}
.arrow-dark-red{overflow:hidden;float:left;
	.right-arrow{margin:-573px 0 0 -40px;}
	}
.arrow-dark-red{overflow:hidden;float:left;
	.left-arrow{margin:-573px 0 0 -60px;}
	}
.arrow-red{overflow:hidden;float:left;
	.top-arrow{margin:-614px 0 0 0;}
	}
.arrow-red{overflow:hidden;float:left;
	.bottom-arrow{margin:-634px 0 0 0;}
	}
.arrow-red{overflow:hidden;float:left;
	.right-arrow{margin:-614px 0 0 -40px;}
	}
.arrow-red{overflow:hidden;float:left;
	.left-arrow{margin:-614px 0 0 -60px;}
	}
.arrow-light-red{overflow:hidden;float:left;
	.top-arrow{margin:-655px 0 0 0;}
	}
.arrow-light-red{overflow:hidden;float:left;
	.bottom-arrow{margin:-675px 0 0 0;}
	}
.arrow-light-red{overflow:hidden;float:left;
	.right-arrow{margin:-655px 0 0 -40px;}
	}
.arrow-light-red{overflow:hidden;float:left;
	.left-arrow{margin:-655px 0 0 -60px;}
	}

.orbit-container .orbit-slides-container{
.vertical{height:20px;width:40px;
	img{width:80px;max-width:80px;}
	}
.horizontal{height:40px;width:20px;
	img{width:80px;max-width:80px;}
	}
}
.vertical{height:20px;width:40px;
	img{width:80px;max-width:80px;}
	}
.horizontal{height:40px;width:20px;
	img{width:80px;max-width:80px;}
	}

/*
general @
*/
.button{line-height:1em;font-size:1em;margin:1px 0;display:inline-block;cursor:pointer;
	.icon{padding:8px 10px 8px 10px;background-color:$lightgrey;color:$grey;width:40px;display:inline-block;text-align:center;font-size:22px;line-height:16px;}
	.info{padding:8px 10px;margin:0 10px 0 2px;background-color:$lightgrey;color:$grey;display:inline-block;}
}
.button.red{
	.icon{background-color:lighten($lightred, 15%);color:$darkred;}
	.info{background-color:lighten($lightred, 15%);color:$darkred;}
}
.button.green{
	.icon{background-color:lighten($lightgreen, 15%);color:$darkgreen;}
	.info{background-color:lighten($lightgreen, 15%);color:$darkgreen;}
}
.button.blue{
	.icon{background-color:lighten($lightblue, 15%);color:$darkblue;}
	.info{background-color:lighten($lightblue, 15%);color:$darkblue;}
}
.button.yellow{
	.icon{background-color:$lightyellow;color:darken($darkyellow, 10%);}
	.info{background-color:$lightyellow;color:darken($darkyellow, 10%);}
}






















