@charset "UTF-8";
/*
-----------------------------------
PAGE
-----------------------------------
*/
.page{
	
	//header
	header{
		ul li{background: url("../img/backgrounds/arrow-breadcrumb.png") no-repeat scroll right top $red;display: inline-block;margin:5px 2px 0 0;float: left;max-height: 40px;width: auto;
		a{position:relative;padding:8px 20px 18px 10px;display:block;color:lighten($lightred, 15%);}
		&.clicked{background: url("../img/backgrounds/arrow-breadcrumb.png") no-repeat scroll right top $red;
			a{color:lighten($lightred, 15%);cursor:pointer;}
			}
		&.active{background:lighten($lightred, 15%);
			a{color:$red;padding-right:10px;cursor:default;}
			}
		}
	.links{height:50px;float:right;display:inline-block;
			a{float:left;padding:10px;
				img{}
				}
			}
	}/*header*/
	.main{background:#fff;padding:10px;border:1px solid $lightgrey;height:510px;overflow:scroll;}
	.scroller{position:absolute;bottom:20px;right:35px;
		ol{padding:0;margin:0;}
			li{clear:both;display:block;margin:0;}
			li:nth-child(2){background:lighten($lightgrey, 8%);min-height:20px;width:70%;margin:0 15%;}
		}
	
	
	//footer
	footer.bottom{background:$green;color:$darkgreen;position:absolute;bottom:0;left:0;right:0;height:60px;z-index: 100;padding:0;margin:0;
		.shortcuts-page{cursor:pointer;background:$lightgreen;display:block;padding:10px 30px;margin:10px auto 0 auto;width:100px;
			.buttons{display:inline-block;height:20px;}
		}
		
	}//footer
	#footermodal{padding:0 20px;background:#fff;overflow:scroll;
			.list{width:46%;margin:0px 0.9998% 20px 0.9998%;float:left;}
			.list.product{color:$red;}
			.list.category{color:$darkyellow;}
			.list.cat-products{color:$green;}
			.cart{color:$lightblue;width:98%;margin:0px 0.9998%;clear:both;
				h4{width:100%;}
				}
		table{background:lighten($lightblue, 0%);text-align:left;padding:0 5px 0 5px;width:100%;color:$blue;}
		a{color:$red;}
		input{padding:3px 5px;background:lighten($lighterblue, 14%);float:none;clear:none;width:50px;text-align:center;}
		tr.head{background:lighten($lightblue, 0%);color:$lighterblue;}
		tr{background:darken($lighterblue, 5%);border-left:$lightblue 5px solid;border-right:$lightblue 5px solid;
			td{padding:10px;}
			}
		tr:nth-child(even){background:lighten($lighterblue, 10%);}
		tr:last-child{border-bottom:$lightblue 5px solid;}
		.update{width:98%;margin:10px 2%;
			a {float:right;}
			}
		}//footermodal	
}/*page*/

