// Make sure the charset is set appropriately
@charset "UTF-8";

@import
  "foundation-v2",
  "myvariables";
/*
-----------------------------------
Start Styles
-----------------------------------
*/
/*
--
$blue: #1b5eaf !default;
$darkblue: #00306b;
$lightblue: #4b91e7;
$lighterblue: #aad0ff;

$grey: #444444 !default;
$lightgrey: #d1d1d1;
$lightergrey: #e7e9ea;

$green: #aabf40 !default;
$darkgreen: #5c6e05;
$lightgreen: #bace52;

$yellow: #eed31c !default;
$darkyellow: #baa307;
$lightyellow: #fded7d;

$red: #bf4040 !default;
$darkred: #991f1f;
$lightred: #f06969;
--
*/
html, body{background:lighten($lightergrey, 5%);height:100%;overflow:hidden;}
#wrap {position:relative;height: auto !important;min-width: 520px;max-width:1024px;margin:0 auto;min-height:100%;overflow:hidden;}
/*
------
Header
------
*/
header{background:lighten($lightergrey, 5%);overflow:hidden;color:$lighterblue;
	ul{
		li{position:relative;height:60px;background:$blue url(../img/backgrounds/bg_btn_header.png) no-repeat right top;width:16.6666%;float:left;display:inline-block;
			&.clicked{background:$lightblue url(../img/backgrounds/bg_btn_header.png) no-repeat right top;
			a{color:$darkblue;cursor:default;}
			}
			a{color:$lighterblue;position:absolute;top:0;left:0;right:0;bottom:0;
				p{float:left;padding:0.625em;}
				img{float:right;}
				}
			}
		li:last-child{float:right;background:$blue url(../img/backgrounds/bg_btn_header_reversed.png) no-repeat left top;
			&.clicked{background:$lightblue url(../img/backgrounds/bg_btn_header_reversed.png) no-repeat left top;
					a{color:$darkblue;}
					}
			a{
				p{float:right;} 
				img{float:left;}
			}
		}
		li:nth-child(5){background:lighten($lightergrey, 5%);}
		li:last-child, li:first-child{
			a{color:$yellow;}
		}
	}
	/*@media fixes*/
	@media screen and (max-width: 1023px){
	    display: none;
	  }
}/*fin header*/

.main{margin:20px 22px 0 22px;}
.main.push{margin-right:153px;
	@media screen and (max-width: 1023px){
	    margin-right:22px;
	  }
	}
/* 
------
Header Menu content 
------
*/
.header-drop{
	li.first{display:none;border:0;overflow:hidden;width:100%;
		&.active{display:block;}
		}
	li.second{display:none;border:0;overflow:hidden;width:100%;
		&.active{display:block;}
		}
	li.third{display:none;border:0;overflow:hidden;width:100%;
		&.active{display:block;}
		}
	li.fourth{display:none;border:0;overflow:hidden;width:100%;
		&.active{display:block;}
		}
	//News home
	ul{
		li{
			article.news{height:194px;overflow:hidden;margin:0 0 10px 0;
				a{color:$darkblue;
				.wrap{float:left;background: $lightblue;width:90%;height:194px;display:inline-block;
					.date{float:left;margin:20px 2% 20px 2.25%;width:24.9999%;max-width:119px;@extend .typeregular;text-align:center;background: lighten($lightblue, 10%);padding:38px 0 22px 0;border:1px $lighterblue solid;
						.day{@extend .typebold;font-size:4.75em;}
						.month{font-size:1.1875em;margin:25px 0 15px 0;}
						.year{font-size:2.3125em;}
					}
					.single-news{float:left;margin:20px 0 20px 0;width:73.9999%;padding:20px 0;
						h3{border-bottom:1px lighten($lightblue, 10%) solid;padding:0 0 20px 0;margin:0 0 20px 0;}
						p{}
					}
				}
				.arrow{float:left;background:none;width:10%;height:194px;
					img{width:100%;height:100%;}
					}
				}
			}
		}
	}
}

/* 
------
Slide
------
*/
.orbit-container{
	.orbit-prev, .orbit-next, .orbit-timer, .orbit-progress, .orbit-slide-number{display:none;}
	.orbit-bullets {padding:20px;margin:0;
      li {display: inline-block;width:60px;height:60px;background:$lighterblue;cursor:pointer;margin:0 20px 0 0;
        &.active {background: $lightblue;}
		}
	}
	ul.orbit-slides-container{border:1px solid $lightgrey;overflow:hidden;background:#fff;min-width:480px;
	article{display:block;padding:0 0 10px 0;background:#fff;}
	header{/*background:$lightergrey;*/background:#fff;padding:0.8125em;border-bottom:1px solid $lightgrey;
		a{float:right;}
		a:last-child{margin-right: 2.1875em;}
		}
	.featured_product{padding:1.875em 1.25em 0 1.25em;clear:both;
		.description{float:left;width:66.9999%;
			a{color:$blue;}
			h2{font-size:2em;margin:10px 0 20px 0;}
			h3{font-size:1.25em;line-height:135%;margin:0 0 16px 0;}
		}
		.product{float:left;width:29.9999%;margin:0 0 0 3%;
			a{@extend .typeitalic;color:$red;line-height:150%;
				img.product_image{width:100%;float:right;padding:0 10%;
					@media screen and (max-width: 1023px){
						padding:0;
	  					}
					}	
			}
			.readmore{margin:20px 0 0 0;display:block;font-size:0.75em;float:right;clear:right;
				.text{width:79.9999%;float:left;}
				.arrow{float:right;margin:0 0 0 22px;
					@media screen and (max-width: 1023px){
	    				margin:0 0 0 0px;
	  					}
					}
				}
				
		}	
	}
	footer{clear:both;padding:0 1.25em;height:auto;
		@media screen and (max-width: 1023px){
			margin:50px 0 0 0px;
	  	}
		p{margin:0 0 30px 0;}
		.category{
			a{color:$blue;padding:10px;background:$lighterblue url(../img/backgrounds/btn-tags.png) no-repeat right bottom;}
		}
		.tags{
			a{color:$darkyellow;padding:10px;background:$lightyellow url(../img/backgrounds/btn-tags.png) no-repeat right bottom;margin:0 0 0 10px;}
			}
	}
}
}
/*	
------
Category menu
------
*/

.category-menu{position:relative;padding:0 0 10px 0;background:#fff;border:1px solid $lightgrey;
	 
		li{position:relative;float:left;width:145px;height:145px;background:lighten($lighterblue, 12%);text-align:center;border:1px solid lighten($lightblue, 20%);margin:10px 0 0 10px;max-height:145px;position:relative;
			a{color:$blue;position:absolute;top:0;right:0;bottom:0;left:0;
				h4{@extend .fontmedium;padding:10px 0 0 0;font-size:1em;}
				img{position:absolute;bottom:0;left:0;}
				}
			}
		
	}
.categories{font-size:1.5em;@extend .fontmedium;text-align:center;max-width:1024px;cursor:pointer;margin:0 auto;position:relative;
		.categories-btn{float:left;width:789px;text-align:center;padding:20px 0;
			.arrow{margin:-50px auto 0 373px;position:relative;
				@media screen and (max-width: 1023px){
				   display:none;
				  }
				}
			
		@media screen and (max-width: 1023px){
		   max-width:160px;
		  }
		}
		
		.shortcuts{float:right;
			.quicklink-btn{width:108px;background:$lightgreen;cursor:pointer;text-align:center;padding:11px 0 33px;margin:9px 22px 0 0;
				span{margin:0 0 0 34px;}
			}
		}
		@media screen and (max-width: 1023px){
		   max-width:100%;
		  }
	}



/*	
------
Footer
------
*/

	.quicklinks{position:absolute;bottom:267px;right:22px;width:108px;height:328px;height:60px;
		.quicklink-menu{text-align:center;margin:267px 0 0 0;
			&.home{margin:158px 0 0 0;}
			&.active{margin:-61px 0 0 0;}
			li{background:$lightgreen;margin:1px 0 1px 0;width:108px;height:108px;font-size:1.25em;
					a{display:block;padding:12px 0;height:60px;background:$lightgreen;
						span{font-size:200%;}
						p{@extend .fontmedium;}
					}
				}
			li:first-child{background:url(../img/backgrounds/btn-home.png) no-repeat left top;
					a{background:none;color:$yellow;padding:24px 0 0 0;
						p{background:$red;height:50px;margin:-6px 0 0 0;padding:6px 0 0 0;}
					}
				}
			}
		}
		
footer.bottom{background:$green;color:$darkgreen;position:absolute;bottom:0;left:0;right:0;height:3.75em;

	}

/*	
------
Technical support
------
*/
////////////
.orbit-container{display:none;}
.header-drop li.third{display:block;}
/////////////
.support{
	article{background:#fff;min-height:450px;border:1px solid $lightgrey;//max-height450!!!
		header{background:#fff;border-bottom:1px solid $lightgrey;padding:0.8125em;}
		.main{
			dl{width:180px;
			dd{margin:0;
			&.active{
				a{background:$lightblue;color:$darkblue;}
				span:last-child{
					img:first-child{display:block;}
					img:last-child{display:none;}
				}	
			}
			
			a{height:60px;font-size:1em;color:$blue;background:$lighterblue url(../img/backgrounds/btn-tabs.png) no-repeat left bottom;padding:0;margin:5px 0;
					span:first-child{display:inline-block;float:left;width:150px;padding:10px 0 0 15px;}
					span:last-child{display:inline-block;float:right;width:30px;height:60px;}
					span{float:left;
						img{width:100%;height:60px;}
						img:first-child{display:none;}
						img:last-child{display:block;}
						}
					}//a
				}//dd
			}//dl
			.content{width:100%;}
			
			dl.inner{width:100%;
				dd{
					a{width:120px;height:40px;margin-left: 5px;padding:10px 0 0 20px;background:$lightyellow url(../img/backgrounds/btn-tabs.png) no-repeat left bottom;color:darken($darkyellow, 10%);}
				&.active{
					a{background:$yellow;}
					}
				}
				
			}
			.content{position:relative;height:340px;
			
				.main{margin:0 20px;
					h4, h5{}
					.body{
						//partnership
						
						table{width:100%;margin:10px 0 20px 0;
							td{text-align:center;padding:5px 2%;width:25%;
								img{width:60px;}
								}
						}
						//videos
						ul{width:49.9999%;float:left;
						li{
							a{margin:3px 0;width:100%;display:block; height:40px;overflow:hidden;
								.icon{display:inline-block;margin:0;}
								span{background:$lightergrey;overflow:hidden;padding:10px;line-height:1em;}
								span:last-child{display:inline-block;margin:0 0 0 2px;}
								}
							}
						}//ul
						ul:last-child{
							li:last-child{
								a{color:darken($darkred, 10%);}
							span{background:$lightred;}
							}
						}
					}
				}
				.footer{position:absolute;bottom:10px;
					a{color:darken($darkyellow, 10%);padding:10px;background:$lightyellow;margin:0 5px 0 0;
						.icon{margin:0 10px 0 5px;font-size:1.5em;}
						}
						
				}
			}//content
		}//main 
	}
}
	
	